* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: $main-color;
  min-height: 100%;

}

a {
  cursor: pointer;
}

::selection {
  background: $main-lighten-color;
}

::-moz-selection {
  background: $main-lighten-color;
}

@media (min-width: 769px) {
  .modal {
    width: 35vw;
  }
}
